* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url("/asset/background/lobby/lobby.gif");
    background-size: cover;
}

.div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lobby div img {
    /* color: #A16207; */
    /* font-size: 30px; */
    /* border: 5px solid #4B5563;
    border-radius: 8px; */
    padding-left:25%;
    padding-top:30px;
    padding-bottom:40px;
    width: 50%;
}

/* .judulLobby {
    padding-left:34%;
    padding-top:10px;
    padding-bottom:40px;
    color:#991B1B;
} */

.button {
    display: flex;
    align-items: center;
    justify-content: center;

}

.table {
    color:white;
}

.table p {
    color: rgb(7, 7, 7);
    padding-left:7px; 
    font-size:larger
}

table .intruksiTableP2 tbody {
    padding-left:20px;
}

.button button {
    background-color:black;
    color: #A16207;
    border: 4px solid #4B5563;
    width: 10vw;
    height: 8vh;
    ;
    border-radius: 8px;
}

